.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--footer-hero-background-color);

    &__title {
        color: var(--primery-background-color);
        font-size: 44px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        line-height: 1.36;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        margin-top: 0;
        width: 696px;
    }
}
